@charset "UTF-8";

/************ Main Content Style *****************/

@font-face {
	font-family: "Linowrite Font";
	src: url('../fonts/BebasNeue-Regular.otf');
}

body {
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #666666;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	background-color: #f9f9f9;
}

ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Linowrite Font", Verdana, Arial, Helvetica, sans-serif;
	color: #363636;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /*removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
}

a {
	outline: none;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;	
}

.container {
	position: relative;
	min-width: 1500px;
	width: 100%;
	background: #f9f9f9;
	margin: 0 auto;
	padding: 10px 0;
	padding-bottom: 100px;
}

header {
	background-color: #282828;
	position: relative;
	min-width: 1500px;
	height: 8px;
	width: 100%;
}

#columnLeft {
	float: left;
	width: 280px;
	margin-right: 0;
}

#columnRight {
	width: 1220px;
	margin-left: 280px;
}
#logo {
	padding: 30px;
}

#menu {
	list-style-type: none;
	height: 100%;
	margin-left: 180px;
}

#menu li a{
	color: #363636;
	text-decoration: none;
	font-family: "Linowrite Font", Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#menu li {
	background-color: #f9f9f9;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 7px 15px 0px 15px ;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

#menu li:hover a, #menu li#actualPageItem a{
	color: #f9f9f9;
}

#menu li:hover, #menu li#actualPageItem {
	background-color: #363636;
}

#menu li.divline {
	padding: 0;
	border-right: thin solid gray;
	height: 14px;
	margin: 18px 0 0;
}

nav {
	position: relative;
	padding-top: 25px;
	height: 32px;
	border-bottom: 1px solid #666666;
	margin-right: 100px;
}

.mainContentWrapper {
	padding-top: 80px;
	padding-right: 142px;
	min-height: 500px;
}

footer {
	position: relative;
	color: rgb(193, 193, 193);
	font-size: 14px;
	background-color: #282828;
	border-top-left-radius:  4px;
	border-top-right-radius:  4px;
	height: 80px;
	width: 100%;
	min-width: 1500px;
}

#copywrite {
	padding: 22px 40px;	
}

.toTop {
	margin-right: 100px;
	text-align: center;
}

.toNextSection {
	margin-right: 10px;
	text-align: right;
}


.arrowTop {
    border: solid  #363636;
    border-width: 0 3px 3px 0;
    display: inline-block;
	padding: 5px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	border-radius: 3px;
}

.arrowTop:hover {
	border-width: 0 4px 4px 0;
	padding: 4px;
}

.arrowNext {
    border: solid #f9f9f9;
    border-width: 0 3px 3px 0;
    display: inline-block;
	padding: 4px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border-radius: 3px;
}

#nextSection {
	font-family: "Linowrite Font", Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: #363636;
	padding: 8px 12px 6px 14px;
	color: #f9f9f9cd;
	border-radius: 5px;
	text-align: right;
}

#nextSection:hover {
	font-weight: bold;
}

.clearfix {
	overflow: auto;
	text-align: center;
}

figure{
	/* font-weight: bold; */
	/* font-style: italic; */
	display:inline-block;
	margin-right: 0px; 
}

figcaption{
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 20px;
	text-align: left;
}

.sourceFiles {
	font-family: monospace;
	background: #2e3440ff;
	border-radius: 3px;
	padding: 3px 5px 2px 5px;
	color: #ebebeb;
}

.simpleList {
	padding-left: 40px;
}

img {
	border-radius: 2px;
	border: 2px solid #2e3440ff;
}

/************ Introduction content style *****************/

/************ Simple Features content style *****************/

.simpleList a:visited {
	color: #42413C;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

.simpleList a:hover {
	font-weight: 500;
}

/************ Medium Features content style *****************/

/************ Big Features content style *****************/

.ba-slider0, .ba-slider1, .ba-slider2, .ba-slider3 {
    position: relative;
    width: 100%;
}

.ba-slider0 .resize0, .ba-slider1 .resize1, .ba-slider2 .resize2, .ba-slider3 .resize3 {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.ba-slider0 .handle0, .ba-slider1 .handle1, .ba-slider2 .handle2, .ba-slider3 .handle3 { /* Thin line seperator */
    position:absolute; 
    left:50%;
    top:0;
    bottom:0;
    width:4px;

    background: #f9f9f9;
    cursor: ew-resize;
    opacity: 0.5;
}

/********** Code coloring *************************/

pre.prettyprint { 
	border-radius: 3px;
	margin: 0;
	padding: 1px 5px;
	display: inline-block; 
	background-color: #2e3440ff; 
	border: 0;
}
pre .nocode { background-color: none; color: #000 }
pre .str { color: #4C566A } /* string  */
pre .kwd { color: #8FBCBB }
pre .com { color: #4C566A } /* comment  */
pre .typ { color: #8FBCBB } /* type  */
pre .lit { color: #cd5c5c } /* literal */
pre .pun { color: #88C0D0 }    /* punctuation */
pre .pln { color: #ebebeb }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}